.navbar {
	top: 0;
	position: fixed;
	background-color: white;
	border-bottom: 1px solid lightgrey;
	font-size: 11px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.navicons {
	border-right: 1px solid lightgrey;
  display: inline-block;
}
.allnavicons{
  margin-bottom: 0px;
}
.navbtn {
	border: none;
	background-color: white;
	color: grey;
	margin-right: 18px;
  padding-bottom: 6px;
}
.mebtn{
	border: none;
	background-color: white;
	color: grey;
	margin-right: 8px;
	margin-top: 5px;
	padding-bottom: 4px;
}
.mebtn:hover{
  	color: black;
}
.navbtn:hover {
	color: black;
	box-shadow: inset 0 -3px 0 0 black;
}
.navsearch {
	background-color: #eef3f8;
	border-radius: 5px;
	padding-left: 8px;
	display: inline-block;
}
.navsearchinput {
	margin-left: 8px;
	font-size: 14px;
	border: none;
	background: none;
	width: 260px;
}
.navsearchinput:focus,
textarea:focus {
	border: none;
}
.navlogo {
	margin-right: 10px;
	color: rgb(74, 99, 168);
	display: inline-block;
}

input:focus {
	outline: none;
}
.navright{
  display: inline-block;
  margin-left: 12px;
}
.usericon{
  border-radius: 90px;
  overflow: hidden;
  margin: 0px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  justify-content: flex-start;
  right: -8px;
  margin-top: 5px;
  background-color: #f9f9f9;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 8px 2px 8px 8px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdownUserimage{
	border-radius: 45px;
	margin: 5px;
}
.dropdown-content>div>a{
	color: grey!important;
	margin-left: 5px;
}