.navbar {
	top: 0;
	position: fixed;
	background-color: white;
	border-bottom: 1px solid lightgrey;
	font-size: 11px;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	margin-bottom: 20px;
}
.navicons {
	border-right: 1px solid lightgrey;
	display: inline-block;
}
.allnavicons {
	margin-bottom: 0px;
}
.navbtn {
	border: none;
	background-color: white;
	color: grey;
	margin-right: 18px;
	padding-bottom: 6px;
}
.navbtn:hover {
	color: black;
	box-shadow: inset 0 -3px 0 0 black;
}
.navsearch {
	background-color: #eef3f8;
	border-radius: 5px;
	padding-left: 8px;
	display: inline-block;
}
.navsearchinput {
	margin-left: 8px;
	font-size: 14px;
	border: none;
	background: none;
	width: 260px;
}
.navsearchinput:focus,
textarea:focus {
	border: none;
}
.navlogo {
	margin-right: 10px;
	color: rgb(74, 99, 168);
	display: inline-block;
}

input:focus {
	outline: none;
}
.navright {
	display: inline-block;
	margin-left: 12px;
}

.dropdown {
	border: none;
	background-color: white;
	color: grey;
}
.dropdown:hover {
	color: black;
}
.dropdown-content {
	font-size: 13px;
	display: none;
	position: absolute;
	justify-content: flex-start;
	right: 0px;
	top: 33px;
	padding-bottom: 8px;
	padding-left: 15px;
	background-color: #f9f9f9;
	min-width: 300px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	border-radius: 8px 2px 8px 8px;
	z-index: 1;
}
.dropdown:hover .dropdown-content {
	display: block;
}

.dropdownUserimage {
	border-radius: 45px;
	position: fixed;
	margin-top: 30px;
	margin-left: 35px;
}	

.dropdownuserinfo {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 80px;

	display: inline-block;
}
.dropdownbtn {
	color: rgb(66, 66, 224);
	background: none;
	border: 2px solid rgb(66, 66, 224);
	border-radius: 15px;
	width: 270px;
	font-size: 15px;
	justify-content: center;
}
.dropdownbtn:hover {
	background-color: #acbfd3;
}
.dropdown-content > a {
	color: grey !important;
}
.mebtn {
	width: 20px;
}
.mebtn > div > img {
	border-radius: 45px;
	position: absolute;
	left: -5px;
	top: -12px;
}
.mebtn > div > p {
	position: absolute;
	left: -7px;
	top: 10px;
}
@media only screen and (max-width: 600px) {
	.allnavicons{
		display: block;
		overflow: hidden;
	}
	.workbtn{
		display:none;
	}
	.navbtn{
		margin-right: 1px;
	}
	.navicons {
	border-right: 1px solid white;
	}
}