
.navbar {
	top: 0;
	position: fixed;
	height: 70px;
	width: 100%;
	background-color: white;
    border-bottom: 1px solid lightgrey;
  font-size: 11px;
}
.navicons>button {
	border: none;
	background-color: white;
	color: grey;
}
.navbtn:hover {
	color: black;
    box-shadow: inset 0 -3px 0 0 black;
}
.navsearch{
  font-size: 16px;
  border:none;
  background-color: #eef3f8;
}
.navsearch:focus, textarea:focus{
  border:none;
}
.navlogo{
  margin-left: 50px;
  margin-right: 20px;
  color: rgb(74, 99, 168);
  display: inline-block;
}
rea:focus, input:focus{
    outline: none;
}