.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.navbar {
	top: 0;
	left: 0;
	position: fixed;
	height: 62px;
	width: 100%;
	flex-wrap: nowrap;
	justify-content: initial;
	background-color: white;
}
.navicons{
  justify-content: right;
}
.navicons>button {
	border: none;
	background-color: white;
	color: grey;
  justify-content:right!important;
}
.navbtn:hover {
	color: black;
	border-bottom: 2px solid black;
}
.navsearch{
  border:none;
  background-color: #eef3f8;
  align-items: center;
}
.navsearch:focus, textarea:focus{
  border:none;
}
.navlogo{
  margin: 20px;
  color: rgb(74, 99, 168);
}
.navicon{
  justify-content: right;
}